/* start common style
   ************************/
.menu_bg{
      position: absolute;
      z-index: 999;
      width: 100% !important;
      border-bottom: 1px solid #fec600;
      position: fixed;
      left: 0;
      top: 0;
      ul li a{
            color: #fff !important;
            font-size: 16px;
            font-weight: 600;
            padding: 20px !important;
            position: relative;
            &::after{
                  position: absolute;
                  height: 2px;
                  width: 0;
                  background: #fec600;
                  left: 20px;
                  top: 70px;
                  content: "";
                  opacity: 0;
                  transition: .5s;
            }
            &:hover{
            color: #fec600 !important;
            }
            &:hover::after{
                  opacity: 1;
                  width: calc(100% - 40px);
            }
            
      }
     
      ul li:last-child a{
            padding-right: 0 !important;
      }
}
.bg{
      background: #222222;
      animation: animation_nm 2s;
  }
  @keyframes animation_nm { 
      0%{
          top: -50px;
      }
      100%{
          top: 0px;
      }
  }
  #header ul li a.active{
      color: rgb(254, 198, 0) !important;
  }
  #header ul li a.active:after{
      opacity: 1;
      width: calc(100% - 40px);
  }


/* start sidemenu style */
.sidemenu{
      height: 100vh;
      width:0px;
      background: olive;
      z-index: 9999999;
      position: fixed;
      transition: .5s;  
  }
  .nav{
      display: block;
    }
    .nav li{
      display: block;
      text-align: center;
    }
  .nav li a{
  list-style: none;
  display: block;
  margin-left: 20px;
  padding: 20px;
  color: #ffff;
  }
     .close{
      height: 60px;
      width: 60px;
      background:black;
      top: 0;
      position: absolute;
      right: -60px;
      padding-top: 15px;
      padding-left: 10px;
     }
     .line1{
      width: 30px;
      height: 2px;
      background: #fff;
      margin-left: 6px;
      margin-top: 4px;
      transition: .5s;
     }
  
     .line2{
      width: 30px;
      height: 2px;
      background: #ffff;
      margin-left: 6px;
      margin-top: 5px;
      transition: .3s;
     }
     .line3{
      width: 30px;
      height: 2px;
      background: #ffff;
      margin-left: 6px;
      margin-top: 6px;
      transition: .5s;
     }
     .bg{
      width: 300px;
      transition: .5s;
     }
     .bg .line2{
      opacity: 0;
     }
  
     .troggole{
      position: relative;
     }
      .bg .line3 {
          transform: rotate(45deg);
          position: absolute;
          left: 8px;
          top: 22px;
        }
     
     .bg .line1 {
      transform: rotate(-45deg);
      position: absolute;
      left: 8px;
      top: 24px;
    }
    .nav{
      margin-left: -200px;
      transition: .5s;
    }
    .bg .nav{
      margin-left: 0;
      margin-left: 60px;
      margin-top: 30px;
    }
/* end common style
   ************************/